# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Flask
instance/
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
src/static/uploads/*.csv
src/static/uploads/*.jpg
src/static/uploads/*.png
